body{
  padding: 0;
  margin: 0;
}

.banner {
  background-color: blue;
  display: block;
  height: 100px;
}

.contents {
  background-color: green;
  height: 500px;
  display: block;
}

.footer {
  background-color: red;
  height: 150px;
  display: block;
}

#look {
  width: 120px;
  height: 120px;
  margin: auto;
  background-size: cover;
  position: relative;
  top: 25%;
  left: 3%;
  opacity: 0.92;
  filter: grayscale(90%);
}

#penopticane {
  background-image: url('../images/dogs/penopticane.png');
  width: 280px;
  height: 500px;
  background-size:contain;
  background-repeat: no-repeat;
  margin: auto;
}

.penopticaneCon p{
  text-align: center;
  margin: auto;
  font-size: 32px;
  font-family: sans-serif;
  width: 280px;
  background-color: #f6f5f5;
  color: #333;
}
